<div class="container">
  <div style="text-align: center">
    <h2>Contact Us</h2>
    <p>We'd love to meet you in person, or leave us a message:</p>
  </div>
  <div class="contact-us container">
    <div class="column">
      <img src="/src/assets/bellevue.jpg" style="width: 100%" />
    </div>
    <br />

    <label class="address" type="text">
      1000 Galvin Road South Bellevue Nebraska 68005</label
    >

    <br />
    <br />
    <label class="number" type="text">402.293.2000</label>
  </div>
</div>
